
<%= simple_form_for [:admin, @unit_feature], :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= t('controllers.' + controller.action_name.capitalize.downcase) %><%= t('activerecord.models.unit_feature') %></legend>

      <%= f.input :name %>


      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('buttons.cancel'), admin_unit_features_path, :class => 'btn' %>
      </div>
    </fieldset>
<% end %>
