<p>ชื่ออสังหา : <%= @listing.listing_title_th %></p>
<p>ราคา : <%= @listing.price %></p>


<%= simple_form_for [@commentable, @comment], :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <%= f.input :name %>
      <%= f.input :telephone %>
      <%= f.input :email %>
      <%= f.input :title %>
      <%= f.input :comment, :as => :text %>


      <%= f.submit nil, :class => 'btn btn-primary' %>
    </fieldset>
<% end %>