<div id="search-mainpage-subpage">
  <div class="search-body-subpage">
    <div class="logo-mainpage">
      <div class="logo"><%= link_to image_tag("logo2.png", :width => '229', :height => '49'), "/" %></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<div id="all-main-content">
<div id="intro-project-direc-sub">
  <div class="head-intro-direc-sub">
    <div class="head-home">
      <h1><%= listing_title(@listing) %></h1>

      <div class="navi">
        โครงการคอนโด < หน้าหลัก
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="category">
<div class="category-left" style="margin:-15px 0 0 0;">
<div class="allteb-agent">
  <div class="category-tab03"><p><a href="#">ข้อมูลเบื้องต้น</a></p></div>
  <div class="category-content">
    <table width="599" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:15px 15px 15px 15px;">
      <tr>
        <td width="300" valign="top" bgcolor="#e5e5e5" style="padding:15px 5px 15px 5px;">
          <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="100" valign="top"><%= image_tag "agent_profile.png", :width => '94', :height => '92' %></td>
              <td valign="top">
                <p class="name_profile"><%= "#{@listing.user.first_name} #{@listing.user.last_name}" %></p>

                <p class="position_profile" style="margin:5px 0 0 0;"><%= @listing.user.company %></p>

                <p class="position_profile" style="margin:0 0 5px 0;">
                  โทร: <%= "#{@listing.user.telephone1}" %> <%= "หรือ #{@listing.user.telephone2}" unless @listing.user.telephone2.blank?  %>
                  </p>
              </td>
            </tr>
            <tr>
              <td height="40" valign="top">
                <%= image_tag "contact.png", :width => '83', :height => '25', :style => "margin:5px 0 0 5px;" %></td>
              <td valign="top" style="padding:5px 0 0 0;">
                <div class="gotoweb"><%= link_to "ไปยังเว็บไซต์ผู้ลงโฆษณานี้", "#{@listing.user.web_site}" %></div>
              </td>
            </tr>
          </table>
        </td>
        <td width="15"></td>
        <td valign="top">
          <p class="position_profile">ID : <%= @listing.number %></p>
          <p class="position_profile"><%= t(@listing.property_type) %></p>
          <p class="position_profile"><%= listing_address(@listing) %></p>
          <p class="position_profile"><%= "#{@listing.floorsize_x} x #{@listing.floorsize_y} เมตร" %> </p>
          <p class="position_profile"><%= t(@listing.tenure) unless @listing.tenure.blank? %></p>
          <p class="position_profile"><%= "#{@listing.bedrooms} ห้องนอน" unless @listing.bedrooms.blank? %>  <%= "#{ @listing.bathrooms} ห้องน้ำ" unless @listing.bathrooms.blank? %> </p>
          <p class="position_profile">ลงประกาศเมือ: 27 เมษายน 2556</p>
          <p class="position_profile"><%= number_with_delimiter @listing.price %> <%= t(@listing.price_type) %></p>


        </td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="120" height="45"><%= image_tag "b1.png", :width => '115', :height => '21' %></td>
      <td width="120"><%= image_tag "b2.png", :width => '115', :height => '21' %></td>
      <td width="120"><%= image_tag "b3.png", :width => '115', :height => '21' %></td>
      <td><%= image_tag "b4.png", :width => '115', :height => '21' %></td>
    </tr>
  </table>
</div>
<div class="clear"></div>
<div class="allteb-agent">
  <div class="category-tab03"><p><a href="#">ภาพถ่ายและวีดีโอ</a></p></div>
  <div class="category-content">
    <table width="589" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:15px 0 0 18px;">
      <tr>
        <td width="58" height="18" align="center" class="text-recom-2" style="background-image:url(<%= asset_path "pic_count.png" %>); background-repeat:no-repeat; text-align:center;">20
          รูป
        </td>
        <td>&nbsp;</td>
        <td width="50" height="18" class="text-recom-2" style="background-image:url(<%= asset_path "pic_count2.png" %>); background-repeat:no-repeat; text-align:center; padding:0 0 0 8px;">ขยาย</td>
      </tr>
    </table>
    <% unless @listing.images.blank?  %>
    <table width="589" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" style="padding:15px 0 0 0;">

          <%= image_tag @listing.images.first.attachment_url(:s589x325), :width => '589', :height => '325' %>
        </td>
      </tr>
    </table>
    <table width="613" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" align="center" valign="middle">
          <%= image_tag "Property-Detail_06.jpg", :width => '78', :height => '52' %>
        </td>
        <td align="center" valign="middle"><%= image_tag "Property-Detail_07.jpg", :width => '78', :height => '52' %></td>
        <td align="center" valign="middle"><%= image_tag "Property-Detail_07-05.jpg", :width => '78', :height => '52' %></td>
        <td align="center" valign="middle"><%= image_tag "Property-Detail_06.jpg", :width => '78', :height => '52' %></td>
        <td align="center" valign="middle"><%= image_tag "Property-Detail_07.jpg", :width => '78', :height => '52' %></td>
        <td align="center" valign="middle"><%= image_tag "Property-Detail_08.jpg", :width => '78', :height => '52' %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <div class="clear"></div>
</div>
<div class="allteb-agent" style="margin:15px 0 0 0;">
  <div class="category-tab03"><p><a href="#">รายละเอียด</a></p></div>
  <div class="category-content">
    <table width="599" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:15px 15px 15px 15px;">
      <tr>
        <td valign="top">

        </td>
      </tr>
    </table>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="25" valign="top" class="position_profile"><b>ที่อยู่ :</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top"><%= listing_address(@listing) %></td>
      </tr>
      <tr>
        <td width="170" valign="top" class="position_profile"><b>แผนที่ :</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top"><%= image_tag "http://maps.google.com/maps/api/staticmap?size=500x150&sensor=false&language=th&zoom=15&markers=#{@listing.lat_value}%2C#{@listing.lon_value}" %></td>
      </tr>

      <tr>
        <td height="25" valign="top" class="position_profile"><b>ราคา :</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile"><%= "#{number_with_delimiter(@listing.price)} #{t(@listing.price_type)}" unless @listing.price.blank? %></td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile">ชื่อโครงการ :</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
         <%= @listing.property_name %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile">ประเภทอสังหาฯ :</td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= t(@listing.property_type) %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>การครอบครอง: </b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= t(@listing.tenure) unless @listing.tenure %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>พื้นที่ใช้สอย: </b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= "#{@listing.floorarea} ตารางเมตร" %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>ขนาดพื้นที่: </b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= "#{@listing.floorsize_x} x #{@listing.floorsize_y} เมตร" %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>จำนวนที่ดิน: </b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= "#{@listing.landarea_rai} ไร่ #{@listing.landarea_ngaan} งาน  #{@listing.landarea_sqw} ตารางวา" %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>ขนาดที่ดิน:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= "#{@listing.landsize_x} x #{@listing.landsize_y} เมตร" unless @listing.landsize_x.blank? %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>จำนวนห้อง:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= "#{@listing.bedrooms} ห้องนอน  #{@listing.bathrooms} ห้องน้ำ  #{@listing.extra_rooms} ห้องแม่บ้าน" %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>จำนวนชั้น:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%=  "#{@listing.number_of_floors} ชั้น - อยู่ชั้น #{@listing.floor_position}"%><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>หันไปทาง:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= t("accounts.listing.collect.facing.#{@listing.facing.downcase}") unless @listing.facing.blank? %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>เฟอร์นิเจอร์:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <%= t("accounts.listing.collect.furnishing.#{@listing.furnishing.downcase}") unless @listing.furnishing.blank? %><br>
        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>คุณสมบัติพิเศษ:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <table cellspacing="0" cellpadding="0" class="detailtable">
            <tbody>
            <% @listing.unit_features.each_slice(3) do |slice| %>
            <tr>
              <% slice.each do |item| %>
              <td style="width:200px; height: 25px" valign="top">
                <ul class="normallist">
                  <li><%= item.name %></li>
                </ul>
              </td>
              <% end %>
            </tr>
            <% end %>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>พื้นที่ว่าง:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <table cellspacing="0" cellpadding="0" class="detailtable">
            <tbody>
            <% @listing.free_spaces.each_slice(3) do |slice| %>
                <tr>
                  <% slice.each do |item| %>
                      <td style="width:200px; height: 25px" valign="top">
                        <ul class="normallist">
                          <li><%= item.name %></li>
                        </ul>
                      </td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td height="25" valign="top" class="position_profile"><b>สิ่งอำนวยความสะดวก:</b></td>
        <td valign="top">&nbsp;</td>
        <td valign="top" class="position_profile">
          <table cellspacing="0" cellpadding="0" class="detailtable">
            <tbody>
            <% @listing.facilities.each_slice(3) do |slice| %>
                <tr>
                  <% slice.each do |item| %>
                      <td style="width:200px; height: 25px" valign="top">
                        <ul class="normallist">
                          <li><%= item.name %></li>
                        </ul>
                      </td>
                  <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>

        </td>
      </tr>

    </table>
  </div>
  <div class="clear"></div>
</div>
<div class="allteb-agent" style="margin:15px 0 0 0;">
  <div class="category-tab03"><p><a href="#">รายละเอียดเพิ่มเติม</a></p></div>
  <div class="category-content">
    <table width="599" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:15px 15px 15px 15px;">
      <tr>
        <td valign="top">
          <p class="position_profile"><%= raw @listing.listing_description_th.gsub(/\n/, '<br />') %></p>
        </td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div class="allteb-agent" style="margin:15px 0 0 0;">
  <div class="category-tab03"><p><a href="#">ติดต่อเจ้าของประกาศ</a></p></div>
  <div class="category-content">
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent" style="padding:15px;">
      <tr>
        <td width="237" align="right" valign="top">ฉันต้องการให้ตัวแทนติดต่อกลับ, เนื่องจาก</td>
        <td width="15" valign="top">&nbsp;</td>
        <td height="25" valign="top"><select name="select6" id="select6" class="textbox-egent">
        </select></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">ฉันมีแผนที่จะทำเช่นนี้</td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top"><select name="select7" id="select7" class="textbox-egent">
        </select></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">คำนำหน้า</td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top"><select name="select8" id="select8" class="textbox-egent">
        </select></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">ชื่อ - นามสกุล</td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top"><input name="textfield6" type="text" class="textbox-search" id="textfield6"></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">เบอร์โทรศัพท์ของฉัน
          (ต้องการการติดต่อกลับ)
        </td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top"><input name="textfield7" type="text" class="textbox-search" id="textfield7"></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">อีเมลของฉัน</td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top"><input name="textfield8" type="text" class="textbox-search" id="textfield8"></td>
      </tr>
      <tr>
        <td align="right" valign="top"></td>
        <td valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">ฉันมีคำถามเพิ่มเติม</td>
        <td valign="top">&nbsp;</td>
        <td height="25" valign="top">
          <textarea name="textfield9" rows="6" class="textbox-search" id="textfield9"></textarea></td>
      </tr>
    </table>
    <table width="570" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent">
      <tr>
        <td width="30" valign="top"><input type="checkbox" name="checkbox" id="checkbox"></td>
        <td valign="top">กรุณาแจ้งฉันเมื่อมีการอัพเดตข้อเสนอจากพาร์ทเนอร์ทางจดหมายข่าวรายเดือน<br></td>
      </tr>
      <tr>
        <td valign="top"><input type="checkbox" name="checkbox2" id="checkbox2"></td>
        <td valign="top">สมัครสมาชิกเพื่อรับข่าวสารที่ให้บริการ รับข่าวสารรายวัน, ทุกวันจันทร์-วันศุกร์ เวลา 14.00 น.
        </td>
      </tr>
    </table>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="text-content-agent" style="padding:15px;">
      <tr>
        <td width="237" align="right" valign="top"></td>
        <td width="15" valign="top"></td>
        <td height="5" valign="top"></td>
      </tr>
      <tr>
        <td align="right" valign="top">&nbsp;</td>
        <td valign="top">&nbsp;</td>
        <td height="40" valign="middle">
          <%= image_tag "Contact-99_11.png", :width => '83', :height => '25' %>
          <%= image_tag "Contact-99_13.png", :width => '84', :height => '25' %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>
</div>
<div class="category-right" style="margin:-15px 0 0 0;">

  <%= image_tag "web-banner02.jpg", :width => '300', :height => '127', :style => "margin:0 0 15px 0;" %>

  <div class="general-search">
    <div class="general-bar">
      <p>รายการประกาศขายและให้เช่า</p>
    </div>
    <div class="clear"></div>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <table width="270" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:10px 0 0 0;">
      <tr>
        <td valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "pic-general-2.jpg", :width => '146', :height => '66' %>
        </td>
        <td width="30" align="center" valign="top" style="padding:5px 0 0 0;">
          <%= image_tag "map-direc.png", :width => '10', :height => '14' %>
        </td>
        <td width="100" align="left" valign="top">
          <span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span> <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)
						</span></td>
      </tr>
    </table>
    <div class="clear"></div>
    <br>
    <br>

  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>