<script type="text/javascript">
    function gettab(tab_menu) {
        var tab = tab_menu;
        for (i = 1; i <= 2; i++) {
            if (tab == i) {
                document.getElementById("category-content-tab" + i).style.display = 'block';
            } else {
                document.getElementById("category-content-tab" + i).style.display = 'none';
            }
        }

    }
</script>

<div id="category">
<div class="category-left">
<div class="category-tab01"><p><a href="javascript:gettab(1);" >ประกาศตามทำเลในกรุงเทพมหานคร</a></p></div>
<div class="category-tab02"><p><a href="javascript:gettab(2);">ทำเลเด่นในพื้นที่ประเทศไทย</a></p></div>


<div id="category-content-tab1" style="display: block;">
<div class="category-content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" height="150"><%= image_tag "category-picture.jpg", :width => '167', :height => '127' %></td>
    <td>
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:5px 0 0 0;">
        <tr>
          <td align="center">
            <table width="130" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="130" bgcolor="#DDDDDD"><%= image_tag "category-list01.jpg", :width => '130', :height => '75' %></td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#DDDDDD" class="text-recom-2">
                  <a href="#">ดีคอนโด สาธุประดิษฐ์49</a></td>
              </tr>
            </table>
          </td>
          <td align="center">
            <table width="130" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="130" bgcolor="#DDDDDD"><%= image_tag "category-list02.jpg", :width => '130', :height => '75' %></td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#DDDDDD">
                  <span class="text-recom-2"><a href="#">ดีคอนโด สาธุประดิษฐ์49</a></span></td>
              </tr>
            </table>
          </td>
          <td align="center">
            <table width="130" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="130" bgcolor="#DDDDDD"><%= image_tag "category-list03.jpg", :width => '130', :height => '75' %></td>
              </tr>
              <tr>
                <td height="25" align="center" bgcolor="#DDDDDD">
                  <span class="text-recom-2"><a href="#">ดีคอนโด สาธุประดิษฐ์49</a></span></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table width="80" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:5px 0 0 0;">
        <tr>
          <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
          <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
          <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
          <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
          <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div style="width:95%; height:1px; background-color:#c4c4c4; margin:10px 0 10px 15px;">

</div>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a></span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td>
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="598" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
    <td bgcolor="#F0F0F0">
      <table width="250" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="15" valign="middle"><%= image_tag "list-arrow.png", :width => '4', :height => '7' %></td>
          <td height="30" valign="middle">
            <span class="text-recom-1"><a href="#">งามวงศ์วาน / ปากเกร็ด / แคราย / นนทบุรี :</a> </span>
            <strong><span class="text-recom-4">37</span></strong></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</div>
</div>
</div>
<div id="category-content-tab2" style="display: none;">
  <div class="category-content">
     xxxxx
  </div>
</div>



<div class="category-right">
  <%= link_to image_tag("regis.jpg", :width => '230', :height => '53'), new_user_registration_path %>
  <%= link_to image_tag("ads-free.jpg", :width => '230', :height => '48'), new_user_registration_path %>
  <%= image_tag "web-banner01.jpg", :width => '300', :height => '173', :style => "margin:32px 0 20px 0;" %>

  <table width="80" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:-49px 0 0 7px;">
    <tr>
      <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
      <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
      <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
      <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
      <td align="center"><%= image_tag "select02.png", :width => '10', :height => '10' %></td>
    </tr>
  </table>

  <%= image_tag "web-banner02.jpg", :width => '300', :height => '127', :style => 'margin:25px 0 0 0;' %>
</div>
<div class="clear"></div>
</div>
