<script type="text/javascript">
    function get_footer_banner_tab(tab_menu) {
        var tab = tab_menu;
        for (i = 1; i <= 2; i++) {
            if (tab == i) {
                document.getElementById("footer-banner-box" + i).style.display = 'block';
            } else {
                document.getElementById("footer-banner-box" + i).style.display = 'none';
            }
        }

    }
</script>

<div id="footer">
  <div class="footer-body">
    <div class="recommend">
      <div class="family"><%= image_tag "family.png", :width => '197', :height => '244' %></div>
      <div class="recomment-detail">
        <div class="tab1 text-tab"><a href="#">ประกาศ อสังหาฯ แนะนำ</a></div>
        <div class="tab-line"></div>
        <div class="tab2 text-tab"><a href="#">Exclusive อสังหาฯ แนะนำ</a></div>
        <div class="tab-line"></div>
        <div class="tab1 text-tab"><a href="#">อสังหาฯ ทั่วไป</a></div>
        <div class="clear"></div>
        <table width="780" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <table border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px 0 0 0;">
                <tr>
                  <td width="206" align="center" valign="top">
                    <%= image_tag "pic-project-recom.jpg", :width => '178', :height => '124' %>
                    <div class="text-recom-3" style="padding:10px 0 0 0;">ลงประกาศเมื่อ 18 ธันวาคม 2555</div>
                  </td>
                  <td valign="top">
                    <table width="170" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="text-recom-1" style="border-bottom: solid 1px #ababab; padding:0 0 10px 0;">39,900,000
                          บาท<br/>
                          ที่ดิน : 1 งาน 60 ตารางวา<br/>
                          พื้นที่ใช้สอย : 640 ตารางเมตร
                        </td>
                      </tr>
                      <tr>
                        <td class="text-recom-2" style="border-bottom: solid 1px #ababab; padding:5px 0 10px 0;">ขาย -
                          ขายอาคารพาณิชย์ 4 ห้อง <br/>
                          ตึกแถว/อาคารพาณิชย์ (ขายขาด)<br/>
                          พหลโยธิน591/18 Pholyothin Rd <br/>
                          ปากเพรียว, เมืองสระบุรี, สระบุรี
                        </td>
                      </tr>
                      <tr>
                        <td class="text-recom-1" style="padding:5px 0 0 0;">ธีระศํกดิ์ เลาหเจริญสมบัติ <br/>
                          โทร 0818535444</span><br/></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <table border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px 0 0 0;">
                <tr>
                  <td width="206" align="center" valign="top"><%= image_tag "pic-project-recom.jpg", :width => '178', :height => '124' %>
                    <div class="text-recom-3" style="padding:10px 0 0 0;">ลงประกาศเมื่อ 18 ธันวาคม 2555</div>
                  </td>
                  <td valign="top">
                    <table width="170" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td class="text-recom-1" style="border-bottom: solid 1px #ababab; padding:0 0 10px 0;">39,900,000
                          บาท<br/>
                          ที่ดิน : 1 งาน 60 ตารางวา<br/>
                          พื้นที่ใช้สอย : 640 ตารางเมตร
                        </td>
                      </tr>
                      <tr>
                        <td class="text-recom-2" style="border-bottom: solid 1px #ababab; padding:5px 0 10px 0;">ขาย -
                          ขายอาคารพาณิชย์ 4 ห้อง <br/>
                          ตึกแถว/อาคารพาณิชย์ (ขายขาด)<br/>
                          พหลโยธิน591/18 Pholyothin Rd <br/>
                          ปากเพรียว, เมืองสระบุรี, สระบุรี
                        </td>
                      </tr>
                      <tr>
                        <td class="text-recom-1" style="padding:5px 0 0 0;">ธีระศํกดิ์ เลาหเจริญสมบัติ <br/>
                          โทร 0818535444</span><br/></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="tab-banner">
      <div class="tab-banner-01"><p><a href="javascript:get_footer_banner_tab(1);">Banner sponser</a></p></div>
      <div class="tab-banner-02"><p><a href="javascript:get_footer_banner_tab(2);">Sitemap</a></p></div>
    </div>
    <div class="clear"></div>
    <div class="banner-box">
      <div id="footer-banner-box1"  style="display: block;">
        <%= image_tag "banner01.jpg", :width => '89', :height => '70' %>
        <%= image_tag "banner02.jpg", :width => '89', :height => '70' %>
        <%= image_tag "banner03.jpg", :width => '89', :height => '70' %>
        <%= image_tag "banner04.jpg", :width => '89', :height => '70' %>
        <%= image_tag "banner05.jpg", :width => '129', :height => '70' %>
        <%= image_tag "banner06.jpg", :width => '121', :height => '70' %>
        <%= image_tag "banner07.jpg", :width => '115', :height => '70' %>
        <%= image_tag "banner01.jpg", :width => '89', :height => '70' %>
      </div>

      <div id="footer-banner-box2"  style="display: none;">

        <%= image_tag "family.png", :width => '197', :height => '244', :style => "float:left;" %>
          <table width="730" border="0" cellspacing="0" cellpadding="0" style="margin: 15px 0 25px 0;">
            <tbody><tr>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">อสังหาฯ สำหรับขาย</td>
                </tr>
                </tbody></table>
              </td>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">อสังหาฯ สำหรับเช่า</td>
                </tr>
                </tbody></table></td>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">ทำเลยอดนิยม</td>
                </tr>
                </tbody></table></td>
              <td><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">คู่มือซื้อขาย</td>
                </tr>
                </tbody></table></td>
            </tr>
            <tr>
              <td valign="top">
                <div class="list-footer">
                  <ul>
                    <li>ขายคอนโด</li>
                    <li>ขายบ้าน</li>
                    <li>ขายทาวน์เฮ้าส์</li>
                    <li>ขายที่ดิน</li>
                    <li>ขายอพาร์ทเม้นท์</li>
                    <li>Commercial Property Legal Advice</li>
                  </ul>
                </div>
              </td>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>ให้เช่าคอนโด</li>
                  <li>บ้านเช่า</li>
                  <li>ทาวน์เฮ้าส์ให้เช่า</li>
                  <li>เช่าที่ดิน</li>
                  <li>อพาร์ทเม้นท์ให้เช่า</li>
                  <li>เช่าทรับย์เชิงพาณิชย์</li>
                </ul>
              </div></td>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>กรุงเทพ</li>
                  <li>นนทบุรี</li>
                  <li>ปทุมธานี</li>
                  <li>เชียงใหม่</li>
                  <li>เชียงราย</li>
                  <li>ชลบุรี</li>
                </ul>
              </div></td>
              <td valign="top">
                <div class="list-footer">
                  <ul>
                    <li>ข่าว/บทความ</li>
                    <li>คู่มือการลุงทุน</li>
                    <li>สถานที่น่าสนใจ</li>
                    <li>คำนวนสินเชื่อเพื่อที่อยู่อาศัย</li>
                  </ul>
                </div></td>
            </tr>
            </tbody></table>
          <table width="730" border="0" cellspacing="0" cellpadding="0" style="margin: 0 0 25px 0;">
            <tbody><tr>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">การลุงทุน</td>
                </tr>
                </tbody></table></td>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">โฆษณากับเรา</td>
                </tr>
                </tbody></table></td>
              <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">ข้อมูลบริษัท</td>
                </tr>
                </tbody></table></td>
              <td><table width="170" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                  <td width="15"><%= image_tag "bullet-footer_11.png" %></td>
                  <td width="156" class="text-head-footer">ไดเร็คทอรี่</td>
                </tr>
                </tbody></table></td>
            </tr>
            <tr>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>ประเทศไทย โครงการใหม่</li>
                  <li>อสังหาริมทรัพย์ในต่างประเทศ</li>
                </ul>
              </div></td>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>ขายอสังหาริมทรัพย์</li>
                  <li>โฆษณาแบบประกาศ Exclusive</li>
                  <li>หลักเกณฑ์ในการลงโฆษณา</li>
                </ul>
              </div></td>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>ข้อมูลบริษัท</li>
                  <li>เกี่ยวกับเรา</li>
                  <li>ติดต่อเรา</li>
                </ul>
              </div></td>
              <td valign="top"><div class="list-footer">
                <ul>
                  <li>ไดเร็คทอรี่</li>
                  <li>คอนโดนไดเร็คทอรี่</li>
                  <li>ค้นหาตัวแทน</li>
                </ul>
              </div></td>
            </tr>
            </tbody></table>
          <div class="clear"></div>
        </div>



    </div>

    <div class="icon-footer">
      <%= image_tag "icon-footer.png", :width => '29', :height => '29' %>
      <p class="text-footer">สงวนลิขสิทธิ์ © 2556<br/>
        Copyright © 2012 siamdealproporty.com, All Rights Reserved</p>

      <p class="text-footer-menu"><a href="#">ค้นหาประกาศ .</a> <a href="#">โครงการคอนโด .</a><a href="#">โครงการใหม
        .</a><a href="#">ต่างประเทศ .</a><a href="#">ค้นหาตัวแทน .</a><a href="#">ข่าว/บทความ .</a><a href="#">คู่มือซื้อขาย
        .</a></p>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>