<div id="toppage-mainpage">
  <div class="toppage-content">
    <p>02-159-5263</p>

    <div class="search-small">
      <input type="text" class="box-search" value="">
    </div>
    <ul class="small-menu">

      <li><a href="#">ตัวแทนอสังหาฯ</a></li>
      <li><%= image_tag "top-small-menu.gif", :width => '2', :height => '12' %></li>
      <li><a href="#">โฆษณากับเรา</a></li>
      <li><%= image_tag "top-small-menu.gif", :width => '2', :height => '12' %></li>
      <li><%= link_to "เข้าสู่ระบบ", new_user_session_path %></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="main-menu">
    <div class="menu">
      <ul>
        <li class="main-menu01"><a href="#">ค้นหาประกาศ</a></li>
        <li class="main-menu02"><a href="#">โครงการคอนโด</a></li>
        <li class="main-menu03"><a href="#">โครงการใหม่</a></li>
        <li class="main-menu04"><a href="#">ต่างประเทศ</a></li>
        <li class="main-menu05"><a href="#">ค้นหาตัวแทน</a></li>
        <li class="main-menu06"><a href="#">ข่าว/บทความ</a></li>
        <li class="main-menu07"><a href="#">คู่มือซื้อขาย</a></li>
      </ul>
    </div>
    <div class="flag">
      <div class="flag-thai"><%= image_tag "flag-thai.png", :width => '20', :height => '20' %></div>
      <div class="flag-eng"><%= image_tag "flag-eng.png", :width => '20', :height => '20' %></div>
    </div>
  </div>
  <div class="clear"></div>
</div>