<div id="toppage-mainpage">
  <div class="toppage-content">
    <p>02-159-5263</p>

    <div class="search-small">
      <input type="text" class="box-search" value="">
    </div>
    <ul class="small-menu">

      <li><%= link_to "ตัวแทนอสังหาฯ", price_agents_path %></li>
      <li><%= image_tag "top-small-menu.gif", :width => '2', :height => '12' %></li>
      <li><%= link_to "โฆษณากับเรา", banners_path %></li>
      <li><%= image_tag "top-small-menu.gif", :width => '2', :height => '12' %></li>
      <li><%= link_to "เข้าสู่ระบบ", new_user_session_path %></li>
    </ul>
  </div>
  <div class="clear"></div>
  <div class="main-menu">
    <div class="menu">
      <ul>
        <li class="main-menu01"><%= link_to "ค้นหาประกาศ", root_path %></li>


        <% if current == 'condo' %>
            <li class="main-menu02-present">
        <% else %>
            <li class="main-menu02">
        <% end %>
        <%= link_to "โครงการคอนโด", condo_directory_index_path %></li>
        <% if current == 'new-property' %>
            <li class="main-menu03-present">
        <% else %>
            <li class="main-menu03">
        <% end %>

        <%= link_to "โครงการใหม่" ,new_property_index_path %></li>

        <li class="main-menu04"><a href="#">ต่างประเทศ</a></li>
        <% if current == 'agent' %>
            <li class="main-menu05-present">
        <% else %>
            <li class="main-menu05">
        <% end %>
        <%= link_to "ค้นหาตัวแทน", agents_path %></li>

        <% if current == 'news' %>
            <li class="main-menu06-present">
        <% else %>
            <li class="main-menu06">
        <% end %>
        <%= link_to "ข่าว/บทความ", news_index_path %></li>

        <% if current == 'resources' %>
            <li class="main-menu07-present">
        <% else %>
            <li class="main-menu07">
        <% end %>
        <%= link_to "คู่มือซื้อขาย", resources_path %></li>
      </ul>
    </div>
    <div class="flag">
      <div class="flag-thai"><%= image_tag "flag-thai.png", :width => '20', :height => '20' %></div>
      <div class="flag-eng"><%= image_tag "flag-eng.png", :width => '20', :height => '20' %></div>
    </div>
  </div>
  <div class="clear"></div>
</div>