<div id="intro-project">
  <div class="intro-project-body">
    <div class="head-intro">

      <%= image_tag "icon-intro.png", :width => '16', :height => '16', :class => 'icon-intro' %>
      <div class="text-head-intro">แนะนำโครงการใหม่</div>
      <%= image_tag "view-more.png", :width => '53', :height => '20', :class => 'view-more' %>
    </div>
    <div class="all-intro-project">
      <div class="arrow-left"><%= image_tag "arrow-left.png", :width => '58', :height => '58' %></div>
      <div class="list-intro-project">
        <%= image_tag "pic-project-01.jpg", :width => '169', :height => '128' %>

        <div class="orange"></div>
        <p><a href="#">กะทู้, ภูเก็ต </a></p>

        <p><a href="#">คอนโดมิเนียม </a></p>

        <div class="update">Update 12-10-2555</div>
        <div class="view">view 55 ครั้ง</div>
      </div>
      <div class="list-intro-project">
        <%= image_tag "pic-project-02.jpg", :width => '169', :height => '128' %>
        <div class="orange"></div>
        <p><a href="#">กะทู้, ภูเก็ต </a></p>

        <p><a href="#">คอนโดมิเนียม </a></p>

        <div class="update">Update 12-10-2555</div>
        <div class="view">view 55 ครั้ง</div>
      </div>
      <div class="list-intro-project">
        <%= image_tag "pic-project-03.jpg", :width => '169', :height => '128' %>
        <div class="orange"></div>
        <p><a href="#">กะทู้, ภูเก็ต </a></p>

        <p><a href="#">คอนโดมิเนียม </a></p>

        <div class="update">Update 12-10-2555</div>
        <div class="view">view 55 ครั้ง</div>
      </div>
      <div class="list-intro-project">
        <%= image_tag "pic-project-04.jpg", :width => '169', :height => '128' %>
        <div class="orange"></div>
        <p><a href="#">กะทู้, ภูเก็ต </a></p>

        <p><a href="#">คอนโดมิเนียม </a></p>

        <div class="update">Update 12-10-2555</div>
        <div class="view">view 55 ครั้ง</div>
      </div>
      <div class="list-intro-project">
        <%= image_tag "pic-project-05.jpg", :width => '169', :height => '128' %>
        <div class="orange"></div>
        <p><a href="#">กะทู้, ภูเก็ต </a></p>

        <p><a href="#">คอนโดมิเนียม </a></p>

        <div class="update">Update 12-10-2555</div>
        <div class="view">view 55 ครั้ง</div>
      </div>
      <div class="arrow-right"><%= image_tag "arrow-right.png", :width => '58', :height => '58' %></div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>