

<%= render :partial => 'shared/head', :locals => { :current => 'home' } %>
<%= render "shared/logo" %>

<div id="all-main-content">
<div id="intro-project-direc-sub">
  <div class="head-intro-direc-sub">
    <div class="head-home">
      <h1>เว็บอสังหาฯ อันดับ 1 ของเมืองไทย</h1>
      <div class="navi">
        เว็บอสังหาฯ อันดับ 1 ของเมืองไทย &lt; หน้าหลัก
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div id="general-content-agent">
<div class="content-agent">
  <ul>
    <li>40,000 visitors a day</li>
    <li>10,000,000 page views a monthมีผู้ต้องการขาย/ให้เช่ากว่า 145,000 </li>
    <li>รายทั่วประเทศไทยที่ลงโฆษณากับเรา</li>
    <li>พาร์ทเนอร์โฆษณาออนไลน์ที่ได้รับการเชื่อถือ</li>
    <li>พิสูจน์โดยผู้ใช้บริการมากมาย ที่ขาย/ให้เช่าได้ผ่าน DDProperty.com</li>
    <li>ยอดคนเข้าดูประกาศของคุณมากขึ้น โอกาศขาย/ให้เช่ามีมากขึ้น</li>
  </ul>
</div>
<div class="bot-agen">
  <a href="#">
    ล๊อคอินเข้าระบบ<br>
    <p class="headbox-agent" style="margin:-5px 0 0 0;">AGENTNET</p></a>
</div>
<div class="clear"></div>
<table width="956" border="0" cellspacing="0" cellpadding="0" style="margin:30px 0 0 0; float:left;">
<tbody><tr>
<td valign="top"><table width="237" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="49" class="agent-price-table-head">
      <span class="headbox-agent">แพ็คเกจทดลอง  </span>
    </td>
  </tr>
  <tr>
    <td height="98" bgcolor="#154e93" style="text-align:center;">
      <div class="headbox-free" style=" width:100px; margin: 0 0 0 60px;">FREE</div>
      <div class="headbox-free2" style=" width:100px; margin:-15px 0 0 90px;">60 วัน</div>
    </td>
  </tr>
  <tr>
    <td height="228" valign="top" bgcolor="#e5e5e5" style="padding:0 0 20px 0;"><%= image_tag "box_agent2.png" %>
      <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>3 รายการทรัพย์สิน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>SMSแจ้งการติดต่อจากผู้สนใจ</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        </tbody></table></td>
  </tr>
  <tr>
    <td height="170" valign="top" bgcolor="#efefef" style="padding:20px 0 20px 0;">
      <div class="regis-agen">สมัครแพ็คเกจ</div>
    </td>
  </tr>
  </tbody></table></td>
<td valign="top"><table width="237" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="49" class="agent-price-table-head"><span class="headbox-agent">แพ็คเกจ Starter </span></td>
  </tr>
  <tr>
    <td height="98" bgcolor="#154e93" style="text-align:center;">
      <div class="headbox-free2">Thb 3,500 / 6 เดือน</div>
      <div class="headbox-free2" style="margin:-10px 0 0 0;">Thb 6,000 / 12 เดือน</div>
    </td>
  </tr>
  <tr>
    <td height="228" valign="top" bgcolor="#e5e5e5" style="padding:0 0 20px 0;"><%= image_tag "box_agent2.png" %>
      <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>10 รายการทรัพย์สิน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>ประกาศพรีเมี่ยม</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>SMS แจ้งการติดต่อจากผู้สนใจ</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>โพรไฟล์ตัวแทน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        </tbody></table></td>
  </tr>
  <tr>
    <td height="170" valign="top" bgcolor="#efefef" style="padding:20px 0 20px 0;">
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
    </td>
  </tr>
  </tbody></table></td>
<td valign="top"><table width="237" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="49" class="agent-price-table-head"><span class="headbox-agent">แพ็คเกจ Premium </span></td>
  </tr>
  <tr>
    <td height="98" bgcolor="#154e93" style="text-align:center;">
      <div class="headbox-free2">Thb 8,000 / 6 เดือน </div>
      <div class="headbox-free2" style="margin:-10px 0 0 0;">Thb 14,000 / 12 เดือน</div>
    </td>
  </tr>
  <tr>
    <td height="228" valign="top" bgcolor="#e5e5e5" style="padding:0 0 20px 0;"><%= image_tag "box_agent2.png" %>
      <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>30 รายการทรัพย์สิน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>ประกาศพรีเมี่ยม</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>SMS แจ้งการติดต่อจากผู้สนใจ</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>โพรไฟล์ตัวแทน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>เว็บไซต์ส่วนตัว (โดเมนย่อย)</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>ดูประกาศหาซื้อ/เช่า</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        </tbody></table></td>
  </tr>
  <tr>
    <td height="170" valign="top" bgcolor="#efefef" style="padding:20px 0 20px 0;">
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
    </td>
  </tr>
  </tbody></table></td>
<td valign="top"><table width="237" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td height="49" class="agent-price-table-head"><span class="headbox-agent">แพ็คเกจ Platinum </span></td>
  </tr>
  <tr>
    <td height="98" bgcolor="#154e93" style="text-align:center;">
      <div class="headbox-free2">Thb 20,000 / 6 เดือน </div>
      <div class="headbox-free2" style="margin:-10px 0 0 0;">Thb 35,000 / 12 เดือน</div>
    </td>
  </tr>
  <tr>
    <td height="228" valign="top" bgcolor="#e5e5e5" style="padding:0 0 20px 0;"><%= image_tag "box_agent2.png" %>
      <table width="230" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>30 รายการทรัพย์สิน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>ประกาศพรีเมี่ยม</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>SMS แจ้งการติดต่อจากผู้สนใจ</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>โพรไฟล์ตัวแทน</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>เว็บไซต์ส่วนตัว (โดเมนย่อย)</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        <tr>
          <td height="30" style="border-bottom: solid 1px #afafaf;"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td width="20" valign="middle"><%= image_tag "bullet_agent.png", :class => "bullet_agent" %></td>
              <td valign="top" class="text-recom-6"><strong>ดูประกาศหาซื้อ/เช่า</strong></td>
            </tr>
            </tbody></table></td>
        </tr>
        </tbody></table></td>
  </tr>
  <tr>
    <td height="170" valign="top" bgcolor="#efefef" style="padding:20px 0 20px 0;">
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
      <div class="regis-agen">สมัครแพ็คเกจ</div>
      <div class="regis-agen2" style="margin:-10px 0 15px 85px;">6 เดือน</div>
    </td>
  </tr>
  </tbody></table></td>
</tr>
</tbody></table>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>