<% if @listing.id.nil? %>
    <ul class="processnav">
      <li class="selectedtab">
        <a href="/account/listings/progress_trackers/basic"><span class="num">1</span> ข้อมูลทั่วไป</a></li>
      <li<%== ' class="selectedtab"' if %w(detail media summary).include?(@listing.current_step) %>>
        <a href="/account/listings/progress_trackers/detail"><span class="num">2</span> รายละเอียดเพิ่มเติม</a>
      </li>
      <li<%== ' class="selectedtab"' if %w(media summary).include?(@listing.current_step) %>>
        <a href="/account/listings/progress_trackers/media"><span class="num">3</span> รูปภาพ/วีดีโอ</a>
      </li>
      <% if %w(summary).include?(@listing.current_step) %>
          <li class="last selectedtab">
      <% else %>
          <li class="last">
      <% end %>
        <a href="/account/listings/progress_trackers/summary"><span class="num">4</span> สรุป</a>
      </li>
    </ul>
<% else %>

    <ul class="processnav">
      <li class="selectedtab">
        <a href="/account/listings/<%= "#{@listing.id}" %>/progress_trackers/basic">
          <span class="num">1</span>
          ข้อมูลทั่วไป</a>
      </li>
      <li<%== ' class="selectedtab"' if %w(detail media summary).include?(@listing.current_step) %>>
        <a href="/account/listings/<%= "#{@listing.id}" %>/progress_trackers/detail">
          <span class="num">2</span>
          รายละเอียดเพิ่มเติม</a>
      </li>
      <li<%== ' class="selectedtab"' if %w(media summary).include?(@listing.current_step) %>>
        <a href="/account/listings/<%= "#{@listing.id}" %>/progress_trackers/media">
          <span class="num">3</span>
          รูปภาพ/วีดีโอ</a>
      </li>

      <% if %w(summary).include?(@listing.current_step) %>
          <li class="last selectedtab">
      <% else %>
          <li class="last">
      <% end %>
      <a href="/account/listings/<%= "#{@listing.id}" %>/progress_trackers/summary">
        <span class="num">4</span>
        สรุป</a>
      </li>
    </ul>
<% end %>