

<div class="row-fluid">


  <div id="main" class="span12">
    <div id="content">
      <%= search_form_for [:account, @search], :url => history_account_listings_path, :html => {:class => "f-filter"} do |f| %>

          <%= render :partial => "account/shared/listing_tabs", :locals => { :current => 'history' } %>

          <%= link_to t('accounts.listing.buttons.new'), new_account_listing_path, :class => "btn btn-success floatright" %>

          <h3><%= t('accounts.listing.tabs.listings_history') %> (<%= @listings.count  %>)</h3>

          <%= render :partial => "account/listings/shared/notice" %>


          <%= render :partial => "toolbox" %>

          <div class="floatright">
            <%= f.select(:property_type_cont, Listing::PROPERTY_TYPE.collect { |property_type| [t(property_type), property_type.to_s] }, {:prompt => "ทั้งหมด"}) %>
            <%= f.select(:listing_title_th_cont, current_user.listings.collect { |name| [name.listing_title_th, name.listing_title_th] }, {:prompt => "ค้นหาจากชื่อโครงการ"}) %>
          </div>

      <% end %>

      <div class="clearboth"></div>

      <%= form_tag multi_destroy_account_listings_path do %>
        <table cellpadding="0" cellspacing="0" class="blue">
          <thead>
          <tr>
            <th width="2%"><input type="checkbox" id="listing_check_all" title="Check/uncheck all"></th>
            <th width="10%">รหัส</th>
            <th width="20%" class="">
              <%= sort_link @search, :listing_title_th, t(:unit, :scope => 'activerecord.attributes.listing') %>
            </th>
            <th width="15%" class="">
              <%= sort_link @search, :price, t(:price, :scope => 'activerecord.attributes.listing') %>
            </th>
            <th width="13%" class="">
              วันหมดอายุ
              <%#= sort_link @search, :price, t(:price, :scope => 'activerecord.attributes.listing') %>
            </th>
            <th width="10%">สถานะ</th>
            <th width="15%">เครื่องมือ</th>
          </tr>
          </thead>
          <tbody>
          <% @listings.each do |listing| %>
              <tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id listing %>">
                <td>
                  <%= check_box_tag "listing_ids[]", listing.id, false, :class => "listing_id_checkbox" %>
                </td>
                <td><%= link_to "#{listing.number}", edit_account_listing_path(listing) %></td>
                <td style="text-align:left">
                  <%= link_to "#{t('listing.type.' + listing.listing_type.to_s)} - #{listing.listing_title_th}", edit_account_listing_path(listing) %>
                </td>
                <td><%= "#{number_with_delimiter(listing.price)} #{t(listing.price_type)}" unless listing.price.blank? %></td>
                <td><%= listing.updated_at %></td>
                <td><%= t('accounts.listing.state.' + listing.state)%></td>
                <td>
                  <div class="listing_actions">
                    <%= link_to t('toolbars.edit'), edit_account_listing_path(listing), :title => t('toolbars.edit'), :class => "act edit" %>
                    <%= link_to t('toolbars.delete'), account_listing_path(listing), confirm: t('confirm.delete'), method: :delete, :title => t('toolbars.delete'), :class => "act delete" %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= will_paginate @listings, :renderer => BootstrapPagination::Rails %>
        <div class="clearfix align-right">
        </div>

        <div class="actions no-indent align-right">
          <%= submit_tag t('buttons.multi_delete'), :class => 'btn btn-danger' %>
        </div>

      <% end %>
    </div>
  </div>
</div>