

<%= render :partial => 'shared/head', :locals => { :current => 'home' } %>
<%= render "shared/logo" %>

<div id="all-main-content">
  <div id="intro-project-direc-sub" style="margin:0 0 10px 0;">
    <div class="head-intro-direc-sub">
      <div class="head-home">
        <h1>ติดต่อเรา</h1>
        <div class="navi">ติดต่อเรา &lt; หน้าหลัก
        </div>
        <div class="clear"></div>
      </div>
      <div class="image-banner">
        <%= image_tag "intro-condo4.png" %>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="general-contact">
    <div class="general-bar">

      <%= image_tag "icon-intro.png", :class => "icon-bar" %>
      <p>ติดต่อเรา</p>
    </div>
    <div class="clear"></div>
    <div class="contact-top"><%= image_tag "Contact-99_03.png", :class => "contact-top-banner" %></div>
    <div class="clear"></div>
    <div class="contact-left">
      <table width="400" border="0" align="left" cellpadding="0" cellspacing="0" class="text-recom-3">
        <tbody><tr>
          <td width="70" height="55" valign="top">Address</td>
          <td width="10" valign="top">:</td>
          <td valign="top"><p>Allproperty มีเดีย จำกัด<br>
          </p>
            <p>56 ญาดาอาคารชั้น 9 ห้องเลขที่ 908-909 <br>
              ถนนสีลมแขวงสีลม สุริยวงศ์เขตบางรักกรุงเทพฯ 10500</p></td>
        </tr>
        <tr>
          <td height="20" valign="top">Tel</td>
          <td valign="top">:</td>
          <td valign="top">+66(0) 2-352-4888</td>
        </tr>
        <tr>
          <td height="20" valign="top">Fax</td>
          <td valign="top">:</td>
          <td valign="top">+66(0) 2-632-9969</td>
        </tr>
        <tr>
          <td height="20" valign="top">Email</td>
          <td valign="top">:</td>
          <td valign="top">dd@property.com</td>
        </tr>
        <tr>
          <td height="20" valign="top">Website</td>
          <td valign="top">:</td>
          <td valign="top">www.ddproperty.com</td>
        </tr>
        </tbody></table>
      <table width="400" border="0" align="left" cellpadding="0" cellspacing="0" class="text-recom-3">
        <tbody><tr>
          <td height="40" valign="middle"><%= image_tag "Contact-99_13_h13.png" %></td>
        </tr>
        </tbody></table>
      <table width="373" border="0" align="left" cellpadding="0" cellspacing="0" class="text-recom-3">
        <tbody><tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_17.png); background-position:top; background-repeat:no-repeat;">
            <input name="textfield2" type="text" class="contact-title" id="textfield2" value="Title"></td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_20.png); background-position:top; background-repeat:no-repeat;">						<input name="textfield2" type="text" class="contact-title" id="textfield2" value="Name"></td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_20.png); background-position:top; background-repeat:no-repeat;"><input name="textfield2" type="text" class="contact-title" id="textfield2" value="Position"> </td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_20.png); background-position:top; background-repeat:no-repeat;"><input name="textfield2" type="text" class="contact-title" id="textfield2" value="Company"></td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_20.png); background-position:top; background-repeat:no-repeat;"><input name="textfield2" type="text" class="contact-title" id="textfield2" value="Tel"></td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="25" valign="top" style="background-image:url(../images/Contact-99_22.png); background-position:top; background-repeat:no-repeat;"><input name="textfield2" type="text" class="contact-title" id="textfield2" value="Email"></td>
        </tr>
        <tr>
          <td height="5" valign="top"> </td>
        </tr>
        <tr>
          <td height="105" valign="top" style="background-image:url(../images/Contact-99_24.png); background-position:top; background-repeat:no-repeat;"><textarea name="textfield2" class="contact-titlebig" id="textfield2">Detail</textarea></td>
        </tr>
        </tbody></table>
      <table width="400" border="0" align="left" cellpadding="0" cellspacing="0" class="text-recom-3" style="margin:20px 0 0 0;">
        <tbody><tr>
          <td width="100" valign="middle"><%= image_tag "Contact-99_11.png" %></td>
          <td valign="middle"><%= image_tag "Contact-99_13.png" %></td>
        </tr>
        </tbody></table>
    </div>
    <div class="contact-right">
      <table width="450" border="0" align="left" cellpadding="0" cellspacing="0" class="text-recom-3">
        <tbody><tr>
          <td height="55" valign="top">กรอกข้อความ<br>
            ถ้าคุณมีคำถาม อยากแสดงความคิดเห็น หรือมีข้อเสนอแนะอื่นๆ กรุณากรอกข้อความลงไปใน<br>
            ฟอร์มด้านล่างเพื่อส่งหาทีมงาน หรือคุณสามารถโทรหาเราได้ที่ (66) 02-352-4888 <br>
            (เวลาทำการ จ-ศ 9.00 - 18.00 น.)
            <br>

            <%= image_tag "Contact-99_07.png", :class => "contact-map" %>
          </td>
        </tr>
        </tbody></table>

      <%= image_tag "Contact-99_07-03.png" %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>