<h4>คุณสมบัติ</h4>
<div class="control-group">
  <label class="control-label" for="inputPassword"> จำนวนห้องนอน:</label>
  <div class="controls">
    <%= select(:listing, :bedrooms, options_for_select(
            {"สตูดิโอ" => "0", "1 ห้องนอน" => "1", "2 ห้องนอน" => "2", "3 ห้องนอน" => "3", "4 ห้องนอน" => "4",
             "5 ห้องนอน" => "5", "6 ห้องนอน" => "6", "7 ห้องนอน" => "7", "8 ห้องนอน" => "8", "9 ห้องนอน" => "9", "10+ ห้องนอน" => "10"}
    ), :prompt => t('prompt')) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">จำนวนห้องแม่บ้าน:</label>
  <div class="controls">
    <%= select(:listing, :extra_rooms, options_for_select(
            {"สตูดิโอ" => "0", "1 ห้องนอน" => "1", "2 ห้องนอน" => "2", "3 ห้องนอน" => "3", "4 ห้องนอน" => "4",
             "5 ห้องนอน" => "5", "6 ห้องนอน" => "6", "7 ห้องนอน" => "7", "8 ห้องนอน" => "8", "9 ห้องนอน" => "9", "10+ ห้องนอน" => "10"}
    ), :prompt => t('prompt')) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">จำนวนห้องน้ำ:</label>
  <div class="controls">
    <%= select(:listing, :bathrooms, options_for_select(
            {"สตูดิโอ" => "0", "1 ห้องนอน" => "1", "2 ห้องนอน" => "2", "3 ห้องนอน" => "3", "4 ห้องนอน" => "4",
             "5 ห้องนอน" => "5", "6 ห้องนอน" => "6", "7 ห้องนอน" => "7", "8 ห้องนอน" => "8", "9 ห้องนอน" => "9"}),
               :prompt => t('prompt')) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">จำนวนชั้น:</label>
  <div class="controls">
    <%= select(:listing, :number_of_floors, (1..50), :prompt => t('prompt') ) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">อยู่ชั้น:</label>
  <div class="controls">
    <%= select(:listing, :floor_position, (1..50), :prompt => t('prompt') ) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">เฟอร์นิเจอร์:</label>
  <div class="controls">
    <%= select(:listing, :furnishing, Listing::FURNISHING.collect { |furnishing| [t("account.listing.collect.furnishing.#{furnishing.downcase}"), furnishing.to_s] }, :prompt => t('prompt')) %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="inputPassword">หันหน้าไปทาง (หน้าประตู):</label>
  <div class="controls">
    <%= select(:listing, :facing, Listing::FACING.collect { |facing| [t("account.listing.collect.facing.#{facing.downcase}"), facing.to_s] }, :prompt => t('prompt')) %>
  </div>
</div>

<h4>คุณสมบัติพิเศษ</h4>
<div class="control-group">
  <table class="inline-inputs bare">
    <tbody>
    <%= hidden_field_tag "listing[unit_feature_ids][]", nil %>
    <% UnitFeature.all.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |unit_feature| %>
              <td width="33%">
                <label class="checkbox">
                  <%= check_box_tag "listing[unit_feature_ids][]", unit_feature.id, @listing.unit_feature_ids.include?(unit_feature.id), id: dom_id(unit_feature) %>
                  <%= unit_feature.name %>
                </label>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h4><%= t('activerecord.models.furniture') %></h4>
<div class="control-group">
  <table class="inline-inputs bare">
    <tbody>
    <%= hidden_field_tag "listing[furniture_ids][]", nil %>
    <% Furniture.all.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |furniture| %>
              <td width="33%">
                <label class="checkbox">
                  <%= check_box_tag "listing[furniture_ids][]", furniture.id, @listing.furniture_ids.include?(furniture.id), id: dom_id(furniture) %>
                  <%= furniture.name %>
                </label>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h4><%= t('activerecord.models.free_space') %></h4>
<div class="control-group">
  <table class="inline-inputs bare">
    <tbody>
    <%= hidden_field_tag "listing[free_space_ids][]", nil %>
    <% FreeSpace.all.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |free_space| %>
              <td width="33%">
                <label class="checkbox">
                  <%= check_box_tag "listing[free_space_ids][]", free_space.id, @listing.free_space_ids.include?(free_space.id), id: dom_id(free_space) %>
                  <%= free_space.name %>
                </label>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h4><%= t('activerecord.models.facility') %></h4>
<div class="control-group">
  <table class="inline-inputs bare">
    <tbody>
    <%= hidden_field_tag "listing[facility_ids][]", nil %>
    <% Facility.all.each_slice(3) do |slice| %>
        <tr>
          <% slice.each do |facility| %>
              <td width="33%">
                <label class="checkbox">
                  <%= check_box_tag "listing[facility_ids][]", facility.id, @listing.facility_ids.include?(facility.id), id: dom_id(facility) %>
                  <%= facility.name %>
                </label>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div class="actions no-indent clearfix">
  <%= f.submit t('buttons.back'), :class => "btn floatleft", :name => "back_button" unless @listing.first_step? %>
  <%= f.submit t('buttons.update_and_exit'), :class => "btn btn-success", :name => "save_button" %>
  <%= f.submit t('buttons.next'), :class => "btn btn-primary floatright" unless @listing.last_step? %>
</div>