<%= render :partial => 'shared/head', :locals => { :current => 'condo' } %>
<div id="intro-project-direc">
  <div class="head-intro-direc">
    <%= link_to image_tag("intro-condo-directory.jpg", :width => '955', :height => '175'), "#" %>
  </div>
  <div class="clear"></div>
</div>

<%= render partial: 'shared/category' %>

<div id="general-content">
  <div class="general-bar">

    <%= image_tag "icon-intro.png", :class => "icon-bar" %>
    <p>ประกาศ อสังหาฯ แนะนำทั่วไป</p>

    <%= image_tag "icon-all.png", :class => "general-more" %>
  </div>
  <div class="clear"></div>
  <table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td align="left" bgcolor="#ffffff">
        <table width="410" border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px;">
          <tbody>
          <tr>
            <td width="170" valign="top"><%= image_tag "pic-general-2.jpg", :class => "pic-general-2" %></td>
            <td width="30" align="center" valign="top"><%= image_tag "map-direc.png", :class => "map-icon" %></td>
            <td width="200" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span>
              <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)  พหลโยธิน591/18 Pholyothin Rd </span><br>

              <%= image_tag "more.png", :class => "more-button" %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="30" align="left" bgcolor="#ffffff"><%= image_tag "line-direc.gif", :class => "line-direct" %></td>
      <td align="left" bgcolor="#ffffff">
        <table width="410" border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px;">
          <tbody>
          <tr>
            <td width="170" valign="top"><%= image_tag "pic-general-2.jpg", :class => "pic-general-2" %></td>
            <td width="30" align="center" valign="top"><%= image_tag "map-direc.png", :class => "map-icon" %></td>
            <td width="200" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span>
              <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)  พหลโยธิน591/18 Pholyothin Rd </span><br>

              <%= image_tag "more.png", :class => "more-button" %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table width="920" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td align="left" bgcolor="#ffffff">
        <table width="410" border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px;">
          <tbody>
          <tr>
            <td width="170" valign="top"><%= image_tag "pic-general-2.jpg", :class => "pic-general-2" %></td>
            <td width="30" align="center" valign="top"><%= image_tag "map-direc.png", :class => "map-icon" %></td>
            <td width="200" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span>
              <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)  พหลโยธิน591/18 Pholyothin Rd </span><br>

              <%= image_tag "more.png", :class => "more-button" %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="30" align="left" bgcolor="#ffffff"><%= image_tag "line-direc.gif", :class => "line-direct" %></td>
      <td align="left" bgcolor="#ffffff">
        <table width="410" border="0" align="left" cellpadding="0" cellspacing="0" style="margin:15px;">
          <tbody>
          <tr>
            <td width="170" valign="top"><%= image_tag "pic-general-2.jpg", :class => "pic-general-2" %></td>
            <td width="30" align="center" valign="top"><%= image_tag "map-direc.png", :class => "map-icon" %></td>
            <td width="200" valign="top"><span class="text-recom-1">ขาย - ขายอาคารพาณิชย์ 4 ห้อง</span>
              <span class="text-recom-2">ตึกแถว/อาคารพาณิชย์ (ขายขาด)  พหลโยธิน591/18 Pholyothin Rd </span><br>

              <%= image_tag "more.png", :class => "more-button" %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>

  </table>
</div>