<ul class="nav">
  <li><%= link_to "ข้อมูลผู้ใช้", admin_users_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ประกาศ</a>
    <ul class="dropdown-menu">
      <li class="">
        <%= link_to "แก้ไขบัญชี", edit_user_registration_path %>
      </li>
      <li><%= link_to "ข้อมูลผู้ใช้", admin_users_path %></li>
    </ul>
  </li>


</ul>


<ul class="nav pull-right">

  <li class="dropdown" id="nav-user">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Gravatar" src="https://secure.gravatar.com/avatar/63c1718dc9887939c9f0ea69917f69b6.png?d=mm&amp;r=R&amp;s=18" style="vertical-align:top;">
      <%= current_user.email unless current_user.nil? %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="">
        <%= link_to "แก้ไขบัญชี", edit_user_registration_path %>
      </li>
      <li>
        <a href="https://secure.fleetio.com/users/edit"><i class="picons-16-basic2-253"></i>
          Edit Profile
        </a></li>
      <li class="divider"></li>
      <li>

        <%= link_to "ออกจากระบบ", destroy_user_session_path %>
      </li>
    </ul>
  </li>

</ul>

